*{
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header > div{
    min-width: 200px;

}
.header .Logo{
    text-align: center;
    display: flex;
    font-size: 3rem;
    list-style: none;
}
.header .Logo li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    color: rgb(38, 81, 210);
}
.header .menu ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.header .menu ul li{
    padding: 20px;
    font-size: 1.5rem;
    margin: 10px;
}
.header .menu ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid goldenrod;
}   
.container img{
   width: 809px;
   height: 445px;
} 