*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
   
}
.container .item{
    min-height: 100px;
    min-width: 500px;
    font-size:5rem;
    background-color: black;
    color: white;
}